<header>
<nav class="flex--inline nav container">
    <img class="nav-logo" src="../../assets/img/fakelogo.svg" alt="logo">
        <form class="example-form ">
            <mat-form-field class="searchbar">
              <mat-label>Recherche</mat-label>
              <input matInput placeholder="Ex. Cat Videos" value="">
            </mat-form-field>
            <mat-icon class="i-black search-btn" aria-hidden="false" aria-label="searchbar icon">search</mat-icon>
        </form>
        <app-account [nom]="auteur.nom" [pseudo]="auteur.pseudo" [url_pic]="auteur.url_pic" [verifie]="auteur.verifie"></app-account> 
</nav>
</header>