<div class="cardVideo">
    <div>
        <h1>Fiche Vidéo</h1>
        <div>
            <app-v-code></app-v-code>
            <app-v-categorie></app-v-categorie>
        </div>
    </div>
    <div class="cardInfo">
        <div class="cardDetails">
            <div>
                <app-v-nom></app-v-nom>
                <app-v-duree></app-v-duree>
                <app-v-vues></app-v-vues>
                <app-v-desc></app-v-desc>
            </div>
            <div>
                <app-v-avis-note></app-v-avis-note>
                <app-v-avis-commentaire></app-v-avis-commentaire>
                <app-v-date></app-v-date>
                <app-v-auteur></app-v-auteur>
            </div>

        </div>
        <div class="priceInfo">

        </div>
    </div>
</div>