<form class="video-form">
    <mat-form-field class="video-full-width" appearance="fill">
      <mat-label>Nom Vidéo</mat-label>
      <input matInput name="nomVideo" [(ngModel)]="formVideo.nom">
      <mat-icon matSuffix>close</mat-icon>
    </mat-form-field>

    <mat-form-field class="video-full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput name="descVideo" [(ngModel)]="formVideo.description">
        <mat-icon matSuffix>close</mat-icon>
      </mat-form-field>

    <mat-form-field class="video-full-width" appearance="fill">
        <mat-label>Catégories</mat-label>
        <input matInput name="categorieVideo" [(ngModel)]="formVideo.categories.nom">
        <mat-icon matSuffix>close</mat-icon>
      </mat-form-field>

      <mat-form-field class="video-full-width" appearance="fill">
        <mat-label>Code</mat-label>
        <input matInput name="codeVideo" [(ngModel)]="formVideo.code">
        <mat-icon matSuffix>close</mat-icon>
      </mat-form-field>

      <mat-form-field class="video-full-width" appearance="fill">
        <mat-label>Date de publication</mat-label>
        <input matInput name="dateVideo" [(ngModel)]="formVideo.date">
        <mat-icon matSuffix>close</mat-icon>
      </mat-form-field>

      <mat-form-field class="video-full-width" appearance="fill">
        <mat-label>Durée (secondes)</mat-label>
        <input matInput name="dureeVideo" [(ngModel)]="formVideo.duree">
        <mat-icon matSuffix>close</mat-icon>
      </mat-form-field>

      <mat-form-field class="video-full-width" appearance="fill">
        <mat-label>Sous-titres</mat-label>
        <input matInput name="closedcaptionVideo" [(ngModel)]="formVideo.closedcaption">
        <mat-icon matSuffix>close</mat-icon>
      </mat-form-field>
        <button (click) = "submit()">Button</button>
</form>