.positiveFilm{
    border: solid 1rem rgb(243, 186, 120);
}

.negativeFilm{
    border: solid 1rem salmon;
}

.cardStyle {
    display: flex;
    margin:1rem;
    flex-wrap: wrap;
    border-radius: 0 0 1rem 1rem;
}

.flex--header{
    display:inline-flex;
    justify-content: space-between;
    padding: 0 .5rem 0 0.5rem;
    margin-bottom: 0;
}

.flex--col{
    display:flex;
    flex-direction: column;
}

.card--user{
    padding: 0 .5rem;
    margin-top: 0;
}